.MUIDataTableToolbar-titleRoot-39{
    color: black;
}

.MuiTypography-h6 .title{
    font-size: 1.25rem;
    font-family: "Arial";
    font-weight: "black";
    line-height: 1.6;
    letter-spacing: 0.0075em;
    color:black;
}
 
